.gameboard {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  border: 3px solid black;
}

.board {
  display: grid;
  margin: 0 auto;
  height: 450px;
  width: 450px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}